{% extends 'base.html' %}
    {% block content %}
    <h2>Tem certeza que deseja remover {{ user.first_name }} {{ user.last_name }} ?</h2>
    <div class="row mx-md-n5">
        <div class="col py-3 px-md-5">
            <form method="post">
            {% csrf_token %}
            <button type="submit"class="btn btn-secondary">Confirmar</button>
            <a href="/accounts/perfil/"><button type="button" class="btn btn-secondary">Voltar</button></a>
            </form>
        </div>
        
    </div>    
    {% endblock %}