<!-- EDITAR ESSE HTML SOMENTE SE FOR EM CASO DE EMERGENCIA -->

<!-- EDITAR ESSE HTML SOMENTE SE FOR EM CASO DE EMERGENCIA -->

<!-- EDITAR ESSE HTML SOMENTE SE FOR EM CASO DE EMERGENCIA -->
{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class= "container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #f7b600;">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Logo</a>
            </li>
            <li class="nav-item navbar-left">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/produtos/">Produtos</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/perfil/">Perfil</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre Nós</a>
             </li>
         </ul>
        </div>
       <div class="mx-auto order-0">
           <a class="navbar-brand mx-auto" href="#">HorizonTour</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-link text-align-right" id="boasvindas">Seja bem-vindo, {{ user.first_name }}  
            </li>
            <li class="nav-item">
              <svg href="carrinho/" width="5em" padding=2px height="2em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                </a>
              </li>
            <li class="nav-item">
               <a class="nav-link" href="/accounts/logout">Logout</a>
            </li>
          {% else %}   
            <li class="nav-item">
               <a class="nav-link" href="/accounts/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/register/">Cadastre-se</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </nav>
      {% block content %}          {% endblock %}
      <footer>
          <p></p>
      </footer>
    </div>
    <script 
      src="https://code.jquery.com/jquery-3.4.0.min.js"  
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"></script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" 
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" 
      crossorigin="anonymous">
    </script>
    <script src="{% static 'js/scripts.js' %}">
    </script>
</body>
</html>