{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}
{% block content %}
    <div class="container">
        <h1>Lista de Produtos</h1>
        <hr>
    </div>
    <br>
        <div class="container">
            <div class="row mx-lg-n5">
                {% for post in posts %}
              <div class="col-4">
                <p href="{% url 'home' %}">
                    <br>
                    <a href="{% url 'access_produto' post.id %}">{{ post.titulo }}</a></li>
                    <br>
                    {{ post.descricao }}
                    <br>
                    <br>
                    R$ {{ post.preco }}

                </p>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}

